src/main/resources/xsd_scheme.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Purchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pid" type="xs:unsignedByte" />
        <xs:element name="uid" type="xs:unsignedByte" />
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="count" type="xs:unsignedByte" />
                    <xs:element name="ig_id" type="xs:unsignedByte" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="price" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>